[submodule "Vim/plugins/fugitive"]
	path = Vim/plugins/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "Vim/plugins/snipmate"]
	path = Vim/plugins/snipmate
	url = https://github.com/msanders/snipmate.vim
[submodule "Vim/plugins/zencoding"]
	path = Vim/plugins/zencoding
	url = https://github.com/mattn/zencoding-vim
