[submodule "Vim/plugins/fugitive"]
	path = Vim/plugins/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "Vim/plugins/zencoding"]
	path = Vim/plugins/zencoding
	url = https://github.com/mattn/emmet-vim
[submodule "Vim/plugins/Tabular"]
	path = Vim/plugins/Tabular
	url = https://github.com/godlygeek/tabular
[submodule "Vim/plugins/surround"]
	path = Vim/plugins/surround
	url = https://github.com/tpope/vim-surround
[submodule "Vim/plugins/snipmate"]
	path = Vim/plugins/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "Vim/plugins/gundo"]
	path = Vim/plugins/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "Vim/plugins/nerdtree"]
	path = Vim/plugins/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "Vim/plugins/clojure"]
	path = Vim/plugins/clojure
	url = git@github.com:guns/vim-clojure-static.git
[submodule "Vim/plugins/fireplace"]
	path = Vim/plugins/fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "Vim/plugins/rainbow"]
	path = Vim/plugins/rainbow
	url = https://github.com/kien/rainbow_parentheses.vim
