[submodule "Vim/plugins/fugitive"]
   path = Vim/pack/plugins/start/fugitive
   url = https://github.com/tpope/vim-fugitive.git
[submodule "Vim/plugins/zencoding"]
   path = Vim/pack/plugins/start/zencoding
   url = https://github.com/mattn/emmet-vim
[submodule "Vim/plugins/Tabular"]
   path = Vim/plugins/Tabular
   url = https://github.com/godlygeek/tabular
[submodule "Vim/plugins/surround"]
   path = Vim/pack/plugins/start/surround
   url = https://github.com/tpope/vim-surround
[submodule "Vim/plugins/snipmate"]
   path = Vim/pack/plugins/start/snipmate
   url = https://github.com/garbas/vim-snipmate.git
[submodule "Vim/plugins/nerdtree"]
   path = Vim/pack/plugins/start/nerdtree
   url = git@github.com:scrooloose/nerdtree.git
[submodule "Vim/plugins/fireplace"]
   path = Vim/pack/plugins/start/fireplace
   url = git://github.com/tpope/vim-fireplace.git
