Fonts/*.ttf
Vim/colors/*.vim
Vim/autoload/*.vim
Vim/.netrwhist
Vim/swapfiles
Vim/local.vim
Vim/Vim
Vim/syntax/*.vim
Vim/indent/*.vim
Vim/undodir
Openbox/Openbox
Fonts/Fonts
Backup/
Zsh/platform.sh
Zsh/autocomplete

Emacs/plain/build/
# Symlinked from github.com/skazhy/advent
Emacs/doom.d/aoc.el
