<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
<menu id="system-menu" label="System">
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
    </action>
  </item>
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Openbox 3.5" />
  <item label="Firefox Nightly">
    <action name="Execute">
      <command>firefox-nightly</command>
    </action>
  </item>
  <item label="gVim">
    <action name="Execute">
      <command>gvim</command>
    </action>
  </item>
  <item label="rxvt-unicode">
    <action name="Execute">
      <command>urxvt</command>
    </action>
  </item>
  <item label="tmux">
    <action name="Execute">
      <command>urxvt -e tmux</command>
    </action>
  </item>
  
  <menu id="apps-office-menu" label="Office">
    <item label="Evince">
      <action name="Execute">
        <command>evince</command>
      </action>
    </item>  
    <item label="Google Docs">
      <action name="Execute">
        <command>firefox-nightly https://docs.google.com</command>
      </action>
    </item>
    <item label="LibreOffice">
      <action name="Execute">
        <command>libreoffice</command>
      </action>
    </item>  
  </menu>
  
  <menu id="apps-graphics-menu" label="Graphics">
    <item label="Gimp">
      <action name="Execute">
        <command>gimp</command>
      </action>
    </item>
    <item label="Inkscape">
      <action name="Execute">
        <command>inkscape</command>
      </action>
    </item>
  </menu>
  <menu id="system-menu"/>
  <separator />
  <menu id="apps-exit-menu" label="Exit">
    <item label="Log Out">
      <action name="Exit">
        <prompt>yes</prompt>
      </action>
    </item>
  </menu>
</menu>
</openbox_menu>
