{:deps {cider/cider-nrepl {:mvn/version "0.45.0"}
        refactor-nrepl/refactor-nrepl {:mvn/version "3.10.0"}}
 :aliases {:mcp {:exec-fn clojure-mcp.main/start-mcp-server
                 :exec-args {:port 48888}
                 :deps {com.github.bhauman/clojure-mcp {:git/sha "080b29b" :git/tag "v0.1.4-alpha"}}}}}
